// Mixins in here
#mixins-desktop {
	.display-flex(@direction: row; @justify: space-between; @align: center) {
		display: flex;
		flex-direction: @direction;
		justify-content: @justify;
		align-items: @align;
	}

	.button() {
		padding: 4% 3%;
		background-color: @button-bg;
		border-radius: 5px;
		color: white;
		font-size: @button-font-size;
		text-align: center;
		margin: 0 15% 0 0;
	}
}
